*{
    margin: 0;
    padding: 0;
}
@font-face{
font-family: lcdfont;
    src: url("./font/digital-7.ttf")  format('truetype');
}
body{
    background-color: white;
    background-image: url(./img/wpp.png);
    font-family: Arial, Helvetica, sans-serif;
    
}

.numb{
    text-align: center;
    border: solid 5px black;
    display: flex;
    padding: 1.5cm;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width: 30%;
    color: black;
    background:whitesmoke;
    background-image:url(./img/Pl1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 33%;
    height: 25%;
    background-color: rgb(200, 203, 216);
    
 
   
}
.peso,.altura{
    width: 40%;
    height: 1cm;
    margin: 0.5cm;
    
}
ul{
    list-style: none;
    font-size: xx-large;
}

.numb button  {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.2cm;
    transition-duration: 0.7s;
    background-color: white;
    margin: 20px;
    cursor: pointer;
}

.numb button:hover{
    background-color: black;
    color: white;
}
.numb input,label{
    position: relative;
    display: block;
    box-sizing: border-box;
    left: 0.57cm;
    

}

    


label::after{
    content: attr(data-domain);
    position: absolute;
    font-size: small;
    top: 12px;
    left:2.4cm;
}
header{
    color: black;
    text-align: center;
    font-size: 2cm;
    margin: 1cm;
    font-family: fantasy;
    
}
header{

    background: linear-gradient(to right,red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;

}

    
   
/* imagem */
.result{
    
    float: left;
    display: block;
    
    margin: 8%;
    height: 300px;  
    border: solid black  20px;
    border-radius: 45px;
    border-style: double;
  
}
/* quadrado resposta */
.resp{
    background-color: green;
    color: greenyellow;
    border: solid rgb(0, 80, 0) 10px;
    padding: 1%;
    padding-left: 2% ;
    padding-right:2% ;
    margin: auto;
    font-family: lcdfont;
    font-size: xx-large;
 
}
/* quadrado dos valor*/
.val{
    background-color: ghostwhite;
    border: solid black 5px;
    margin: auto;
    border-radius: 15px;

}
input{
    border-radius: 10px;
}